.wrapper-users {
    .list-users{
        display: flex;
        .card{
            margin: 10px;
            padding: 10px;
            background-color: greenyellow;
        }
    }
    .add-new-user {
        .btn{
            padding: 10px;
        }
    } 
}


